<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrador</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saldo</servlet-name>
        <servlet-class>com.CopyQuick.Controller.saldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletArchivos</servlet-name>
        <servlet-class>com.CopyQuick.Controller.ServletArchivos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrador</servlet-name>
        <url-pattern>/ServletAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saldo</servlet-name>
        <url-pattern>/saldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletArchivos</servlet-name>
        <url-pattern>/ServletArchivos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
